services:
  postgres:
    image: nexusrt/postgres-wal2json
    container_name: pg_wal2json
    restart: unless-stopped
    ports:
     - "5435:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: admin
    command: >
      postgres
      -c max_connections=300
      -c shared_buffers=256MB
      -c work_mem=4MB
      -c maintenance_work_mem=64MB
      -c wal_level=logical
      -c max_wal_senders=10
      -c max_replication_slots=10
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
